.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  background-image: url('../img/card-back.png');
}

.hand {
  overflow: auto;
}


.player-money-container, .player-bet-container{
  border: solid 1px black;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.end-game-message {
  margin-top: 5px;
  width: 0px;
  height: 0px;
}

.win {
  margin-top: 5px;
  width: 200px;
  height: 50px;
  background-color: green;
}

.loss {
  margin-top: 5px;
  width: 200px;
  height: 50px;
  background-color: red;
}
