body {
  background-image: url('../img/pockerBackground.jpg');
}

.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  background-image: url('../img/card-back.png');
}

.hand {
  overflow: auto;
}


.player-money-container, .player-bet-container{
  background-size: cover;
  background-image: url('../img/betImage.png');
  text-align: center;
  font-size: 20px;
  color: white;
  border: solid 1px black;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.player-money-container {
  float: left;
}

.player-bet-container {
  float: left;
}

.end-game-message {
  margin-top: 5px;
  width: 0px;
  height: 0px;
}

.win {
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
  width: 200px;
  border-radius: 5px;
  height: 50px;
  background-color: #FFFF99;
  padding: 10px;
}

.loss {
  font-size: 25px;
  margin-top: 5px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  background-color: #FF9999;
  padding: 10px;
}


.history-container {
  display: inline-block;
  font-size: 18px;
  background-color: #B8B8B8;
}

.history-container td div {
  height: 50px;
  width: 30px;
}

table {
  font-size: 18px;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}
